:root {
  /* Font Properties */
  --nav-links-fs: 1.7em;
  --small-links-fs: 1em;
  --title1-ff: 'Open Sans', sans-serif;
  --title1-fs: 2.6em;
  --title2-fs: 1.2em;
  --title2-fw: 600;
  --title3-fs: 1.1em;
  --slogan-fs: 1.4em;
  --subtitle-fs: 0.8em;
  --description-fs: 0.7em;
  --content-ff: 'Lato', sans-serif;
  --paragraph-fs: 0.8em;
  --paragraph-lh: 1.6;
  --strong-fs: 1.6em;

  /* Colors */
  --main-active: #ff4125;
  --light-text: #fff;
  --dark-text: #1d1d1d;
  --em-text: #565656;
  --splash-bg: #f5f5f5;
  --section-bg: #3e3e3e;
  --body-bg: #f8f8f8;
  --dark-bg: #272a31;
  --events-bg: #ffffff1a;
  --button-br: #d1d1d1;

  /* Spacing */
  --root-padding: 1em;
  --desktop-max-width: 1024px;
}

@media (min-width: 768px) {
  :root {
    --title1-fs: 3.8em;
    --slogan-fs: 1.8em;
  }
}
