.toolbar {
  display: none;
}

.main-menu {
  position: relative;
}

.main-menu .logo {
  display: none;
}

.nav-container {
  backdrop-filter: blur(5px);
  background-color: var(--dark-bg);
  box-sizing: border-box;
  font-family: var(--title1-ff);
  height: 100vh;
  left: -70%;
  padding: var(--root-padding);
  position: fixed;
  top: 0;
  transition: left 0.3s;
  width: 70vw;
  z-index: 100;
}

.nav-container.active {
  left: 0;
}

.nav-container .link-wrap {
  margin-bottom: 1em;
}

.nav-container .links {
  margin-top: 5em;
}

.nav-container .link {
  color: var(--light-text);
  font-size: var(--nav-links-fs);
  font-weight: var(--title1-fw);
  text-decoration: none;
}

.link:hover {
  color: var(--main-active) !important;
}

.burger-icon {
  align-items: center;
  background-color: #ffffff60;
  color: #000;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  height: 1em;
  justify-content: center;
  left: 1em;
  padding: 0.4em;
  position: fixed;
  top: 1em;
  width: 1em;
  z-index: 110;
}

@media (min-width: 768px) {
  .toolbar {
    background-color: var(--section-bg);
    display: block;
  }

  .socials .link {
    font-size: var(--small-links-fs);
    margin: 0 0.3em;
  }

  .items {
    display: flex;
    justify-content: flex-end;
    gap: 1.4em;
    margin: 0 auto;
    max-width: var(--desktop-max-width);
    padding: 0.5em 0;
  }

  .toolbar .link {
    color: var(--light-text);
    text-decoration: none;
  }

  .main-menu {
    display: flex;
    height: 5em;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--desktop-max-width);
  }

  .main-menu .logo {
    display: block;
    height: 100%;
  }

  .nav-container {
    align-items: center;
    background-color: unset;
    display: flex;
    height: unset;
    padding: 0;
    position: static;
    width: unset;
    z-index: unset;
  }

  .nav-container .links {
    display: flex;
    gap: 4em;
    margin: 0;
  }

  .nav-container .link-wrap {
    margin: 0;
  }

  .nav-container .link {
    color: var(--dark-text);
    font-size: var(--small-links-fs);
    font-weight: 600;
  }

  .burger-icon {
    display: none;
  }
}
